
body {
	background-color: #ecf0f1;
	font-family: "Source Sans Pro", sans-serif;
	position: absolute;
	height: 100%;
	width: 100%;
	display: table;
}

#bCard {

	width: 50%;
	padding: 20px;
	background-color: white;
	box-shadow: 5px 5px rgba(0,0,0,0.1);
	padding:; 20px;
	
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.quote{
	font-weight: 200;
	font-style: italic;
	font-size: 1.5em;
}

#main {
	display: table-cell;
	vertical-align: middle;
}

img{
	border-top-left-radius: 50%;
	border-top-right-radius: 50%;
	border-bottom-left-radius: 50%;
	border-bottom-right-radius: 50%;
	display: block;
	border: 4px solid #ecf0f1;
	height: 200px;

	margin-right: auto;
	margin-left: auto;
}

a:link{

}

a:hover{

}

